.App {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    overflow-y: hidden;
}

.App > header {
    width: 100%;
    height: calc(2.6rem + 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 3%;
    background: gray;
}

.App > header h1 a {
    font-size: 2.6rem;
    color: white;
}

.App > header > ul {
    display: flex;
}

.App > header > ul a,
.App > header .logout {
    font-size: 1.4rem;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.App > header .username-display {
    font-size: 1.4rem;
    color: blue;
    cursor: pointer;
}

.full-sidebar {
    width: 28%;
    height: calc(100% - 2.6rem - 10px);
    background: lightblue;
    padding: 15px 3% 5px 3%;
    display: flex;
    flex-direction: column;
}

.full-sidebar a {
    font-size: 1.4rem;
}

.full-sidebar .hero-tree {
    margin-top: 15px;
}

.char-sheet {
    width: 68%;
    margin: 10px auto;
    padding: 24px 3%;
    background: #b59f82;
    border-radius: 8px;
    box-shadow: 2px 2px 14px #735e3a;
}

.char-sheet strong {
    font-weight: bold;
}

.char-sheet em {
    font-style: italic;
}

.char-sheet .lesser-note {
    margin-top: 4px;
    font-size: 1rem;
    font-style: italic;
}

.char-sheet h1 {
    font-size: 3.4rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 3px;
}

.char-sheet header h2 {
    font-size: 2.4rem;
    margin-bottom: 4px;
}

.char-sheet .hero-type {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 2px;
}

.char-sheet .last-header-line {
    font-size: 1.4rem;
}

.char-sheet section {
    margin-top: 20px;
}

.char-sheet section h2 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}

.char-sheet section p {
    font-size: 1.4rem;
    margin-bottom: 2px;
}

.char-sheet .power-display {
    padding: 5px 2%;
    border-radius: 4px;
    background: #917755;
}

.char-sheet .power-display .power-heading {
    display: flex;
    align-items: baseline;
}

.char-sheet .power-display .power-heading span {
    margin-left: 6px;
    font-size: 1.2rem;
}

.char-sheet .power-display .power-heading .cost-note {
    margin-left: 4px;
    font-style: italic;
}

.char-sheet .device-shadow {
    box-shadow: 0 0 14px gray;
}

.char-sheet .power-display h3 {
    font-size: 1.8rem;
}

.char-sheet .power-display .power-details {
    margin: 10px 0;
    font-size: 1.4rem;
}

.hero-info-form-envelope {
    width: 72%;
    height: calc(100% - 2.6rem - 10px);
    padding: 24px 2%;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: auto;
}

.hero-info-form-envelope .delete-hero-button {
    width: 48px;
    height: 48px;
}

.hero-info-form {
    width: 100%;
}

.hero-info-form input {
    margin-bottom: 10px;
}

.hero-info-form header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-info-form h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-info-form section {
    margin-top: 10px;   
}

.hero-info-form h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-info-form .abilities .abilities-div {
    display: flex;
    flex-wrap: wrap;
}

.hero-info-form .abilities .ability-div {
    width: 25%;
}

.hero-info-form section label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.hero-info-form .abilities .ability-div input {
    width: 45%;
}

.hero-info-form .powers .power-div {
    margin: 8px 0;
    padding: 10px 2% 0;
    display: flex;
    flex-wrap: wrap;
    background: #bbbbbb;
    border-radius: 4px;
}

.hero-info-form .powers .power-div .buttons {
    width: auto;
}

.hero-info-form .powers .power-div .delete-power-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.hero-info-form .powers .power-div .checkbox {
    width: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-info-form .powers .power-div div {
    width: 25%;
    margin-right: 10px;
}

.hero-info-form .powers .power-div input {
    width: 100%;
    margin-bottom: 6px;
}

.hero-info-form .powers .power-div .textarea {
    width: 100%;
    margin-bottom: 8px;
}

.hero-info-form .add-power {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hero-info-form .add-power img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    cursor: pointer;
}

.hero-info-form .add-power p {
    font-size: 1.2rem;
}

.hero-info-form .submit-button {
    margin-bottom: 20px;
}

.login-form {
    width: 100%;
    height: calc(100% - 2.6rem - 10px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login-form h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.login-form input {
    margin-bottom: 10px;
}

.login-form .buffer {
    margin-top: 20px;
}

.login-form .error-message {
    color: #dd0000;
}

.login-form a {
    color: blue;
}