.App {
    width: 100%;
    max-width: 1050px;
    height: 100vh;
    margin: 0 auto;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    overflow-y: hidden;
}

.App > header {
    width: 100%;
    height: calc(2.6rem + 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 3%;
    background: gray;
}

.App > header h1 a {
    font-size: 2.6rem;
    color: white;
}

.App > header > ul {
    display: flex;
    list-style: none;
}

.App > header > ul a,
.App > header .logout {
    font-size: 1.4rem;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.App > header .username-display {
    font-size: 1.4rem;
    color: blue;
    cursor: pointer;
}

.analysis-envelope {
    width: 72%;
    height: calc(100% - 2.6rem - 10px);
    overflow-y: auto;
}

.analysis-envelope header {
    width: 100%;
    height: calc(2.6rem + 10px);
    border-top: 4px double lightgray;
    background: gray;
}

.analysis-envelope header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.analysis-envelope header nav a {
    font-size: 1.4rem;
    color: white;
}

.analysis-envelope .for-padding {
    width: 100%;
    padding: 20px 3%;
}

.analysis-envelope section {
    width: 100%;
    margin: 20px 0;
    padding: 16px 3%;
    background-color: #c2b098;
    background-image: url("../images/paper-texture.png");
    border-radius: 8px;
    box-shadow: 2px 2px 14px #5c4b2e;
}

.analysis-envelope strong,
.analysis-envelope h1,
.analysis-envelope h2 {
    font-weight: bold;
}

.analysis-envelope h1 {
    margin-bottom: 6px;
    font-size: 2.8rem;
}

.analysis-envelope section h2 {
    margin-bottom: 10px;
    font-size: 2.4rem;
}

.analysis-envelope section p {
    margin: 10px 0;
    font-size: 1.4rem;
    line-height: 1.1;
}

.analysis-envelope section p span.with-colon {
    margin-right: 4px;
}

.analysis-envelope section p a {
    color: #004400;
}

.login-form {
    width: 100%;
    height: calc(100% - 2.6rem - 10px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login-form h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.login-form input {
    margin-bottom: 10px;
}

.login-form .buffer {
    margin-top: 20px;
}

.login-form .error-message {
    color: #dd0000;
}

.login-form a {
    color: blue;
}