.App {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.App > header {
    width: 100%;
    height: calc(2.6rem + 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 3%;
    background: gray;
}

.App > header h1 a {
    font-size: 2.6rem;
    color: white;
}

.App > header > ul {
    display: flex;
}

.App > header > ul a,
.App > header .logout {
    font-size: 1.4rem;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.App > header .username-display {
    font-size: 1.4rem;
    color: blue;
    cursor: pointer;
}

.full-sidebar {
    width: 28%;
    height: calc(100% - 2.6rem - 10px);
    background: lightblue;
    padding: 15px 3% 5px 3%;
    display: flex;
    flex-direction: column;
}

.full-sidebar a {
    font-size: 1.4rem;
}

.full-sidebar .hero-tree {
    margin-top: 15px;
}

.char-sheet {
    width: 68%;
    margin: 10px auto;
    padding: 24px 3%;
    background: tan;
    border-radius: 8px;
    box-shadow: 2px 2px 10px brown;
}

.char-sheet strong {
    font-weight: bold;
}

.char-sheet .lesser-note {
    margin-top: 4px;
    font-size: 1rem;
    font-style: italic;
}

.char-sheet h1 {
    font-size: 3.4rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 3px;
}

.char-sheet header h2 {
    font-size: 2.4rem;
    margin-bottom: 4px;
}

.char-sheet .hero-type {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 2px;
}

.char-sheet .last-header-line {
    font-size: 1.4rem;
}

.char-sheet section {
    margin-top: 20px;
}

.char-sheet section h2 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}

.char-sheet section p {
    font-size: 1.4rem;
    margin-bottom: 2px;
}

.hero-info-form-envelope {
    width: 70%;
    padding: 24px 2%;
    display: flex;
    flex-direction: row-reverse;
}

.hero-info-form-envelope .delete-hero-button {
    width: 48px;
    height: 48px;
}

.hero-info-form {
    width: 100%;
}

.hero-info-form input {
    margin-bottom: 10px;
}

.hero-info-form header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-info-form h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-info-form section {
    margin-top: 10px;   
}

.hero-info-form h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-info-form .abilities .abilities-div {
    display: flex;
    flex-wrap: wrap;
}

.hero-info-form .abilities .ability-div {
    width: 25%;
}

.hero-info-form .abilities .ability-div label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.hero-info-form .abilities .ability-div input {
    width: 45%;
}

.login-form {
    width: 100%;
    height: calc(100% - 2.6rem - 10px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login-form h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.login-form input {
    margin-bottom: 10px;
}

.login-form .buffer {
    margin-top: 20px;
}

.login-form .error-message {
    color: #dd0000;
}

.login-form a {
    color: blue;
}