.char-sheet-envelope {
    width: 70%;
    height: calc(100% - 2.6rem - 10px);
    padding: 20px 0;
    overflow-y: auto;
}

.char-sheet-paper {
    width: 94%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #A8A297;
    box-shadow: 2px 2px 14px #5c4b2e;
}

.char-sheet-tabs {
    display: flex;
    justify-content: space-around;
}

.char-sheet-tab {
    width: 100%;
    padding: 4px 0;
    background-color: #9d825d;
    background-image: url("../images/paper-texture.png");
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

.char-sheet-tab.active {
    background-color: #c2b098;
}

.char-sheet-tab label {
    margin: 0 10%;
    font-size: 1.6rem;
    cursor: pointer;
}

.char-sheet {
    padding: 24px 3%;
    background-color: #c2b098;
    background-image: url("../images/paper-texture.png");
}

.char-sheet strong,
.char-sheet-envelope .notes strong {
    font-weight: bold;
}

.char-sheet em,
.char-sheet-envelope .notes em {
    font-style: italic;
}

.char-sheet .lesser-note {
    margin-top: 4px;
    font-size: 1rem;
    font-style: italic;
}

.char-sheet a {
    color: #004400;
}

.char-sheet h1 {
    font-size: 3.4rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 3px;
}

.char-sheet header h2 {
    font-size: 2.4rem;
    margin-bottom: 4px;
}

.char-sheet .hero-type {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 2px;
}

.char-sheet .last-header-line {
    font-size: 1.4rem;
}

.char-sheet section {
    margin-top: 20px;
}

.char-sheet section h2 {
    font-size: 2.2rem;
    margin-bottom: 8px;
    text-decoration: underline;
}

.char-sheet section > p,
.char-sheet .power-display .power-note {
    font-size: 1.4rem;
    margin-bottom: 2px;
}

.char-sheet .alt-abilities,
.char-sheet .alt-defenses {
    margin: 12px 0 8px;
    font-size: 1.4rem;
    line-height: 1.2;
}

.char-sheet .power-display,
.char-sheet .advantages .languages {
    padding: 5px 2%;
    border-radius: 4px;
    background: #bea77e;
    box-shadow: 0 0 6px black;
}

.char-sheet .device-shadow {
    border: 1px #cccccc solid;
    box-shadow: 0 0 7px black;
}

.char-sheet .power-display .power-heading {
    display: flex;
    align-items: baseline;
}

.char-sheet .power-display .power-heading span {
    margin-left: 6px;
}

.char-sheet .power-display .cost-note {
    margin-left: 4px;
    font-size: 1.2rem;
    font-style: italic;
}

.char-sheet .power-display h3,
.char-sheet .power-display .power-details .h3-style,
.char-sheet .advantages .equipment h3,
.char-sheet .advantages .languages h3 {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.1;
    text-decoration: underline;
}

.char-sheet .power-display .power-details p.alt {
    margin-top: 14px;
}

.char-sheet .power-display .power-details {
    margin: 10px 0 6px;
    font-size: 1.4rem;
    line-height: 1.2;
}

.char-sheet .power-display .power-details p {
    margin: 10px 0;
}

.char-sheet .power-display .power-details p.with-ul {
    margin: 10px 0 3px;
}

.char-sheet .power-display .power-details ul {
    margin: 0;
}

.char-sheet .power-display .power-details li {
    margin: 2px 0 2px 20px;
    line-height: 1.2;
}

.char-sheet .advantages-list {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: bold;
}

.char-sheet .advantages-list .lesser-note {
    font-weight: normal;
}

.char-sheet .advantages .equipment {
    padding: 5px 2%;
    border-radius: 4px;
    background: #bea77e;
    border: 1px #cccccc solid;
    box-shadow: 0 0 7px black;
}

.char-sheet .advantages .equipment .h4-style {
    margin-right: 4px;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
}

.char-sheet .advantages .equipment ul {
    margin: 10px 0 10px 20px;
}

.char-sheet .advantages .equipment li,
.char-sheet .advantages .languages div {
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.char-sheet .advantages .equipment p {
    margin-top: 6px;
    font-size: 1.2rem;
    line-height: 1.3;
}

.char-sheet .advantages .languages {
    padding-bottom: 10px;
}

.char-sheet .advantages .languages p,
.char-sheet .bio p,
.char-sheet-envelope .notes p {
    margin: 8px 0;
}

.char-sheet .skills .three-col {
    display: flex;
}

.char-sheet .skills .three-col .column {
    width: calc(33% - 10px);
    margin-right: 10px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.char-sheet .skills .alt-skills {
    margin-top: 12px;
    padding: 2px 2%;
    border-radius: 4px;
    background: #bea77e;
    box-shadow: 0 0 6px black;
    font-size: 1.2rem;
    line-height: 1.1;
}

.char-sheet .skills .alt-skills p {
    margin: 10px 0;
}

.char-sheet .offense .attacks-list {
    margin: 8px 0 10px;
    padding: 5px 2%;
    border-radius: 4px;
    background: #bea77e;
    box-shadow: 0 0 6px black;
    font-size: 1.4rem;
}

.char-sheet .offense .attacks-list ul {
    margin: 2px 0 2px 20px;
}

.char-sheet .offense .attacks-list li {
    line-height: 1.2;
}

.char-sheet .complications .complication {
    margin: 10px 0;
    font-size: 1.4rem;
    line-height: 1.1;
}

.char-sheet .pointTotals {
    padding: 5px 2%;
    border-radius: 4px;
    background: #bea77e;
    box-shadow: 0 0 6px black;
}

.char-sheet .pointTotals h3 {
    font-size: 1.4rem;
    line-height: 1.2;
}

.char-sheet .pointTotals h2 {
    margin-bottom: 0;
    font-size: 2.2rem;
    line-height: 1.3;
    text-decoration: none;
}

.char-sheet .bio > div {
    font-size: 1.4rem;
    line-height: 1.2;
}

.char-sheet-envelope .notes {
    width: 94%;
    margin: 0 auto 20px;
    padding: 24px 3%;
    font-size: 1.4rem;
    line-height: 1.2;
}

.char-sheet-envelope .notes h2 {
    font-size: 2.2rem;
    margin-bottom: 8px;
    text-decoration: underline;
    font-weight: bold;
}